<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FJLL63BRJJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-FJLL63BRJJ');
  </script>
  <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %}
    {{ page.title | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
  </title>
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  {% for css in layout.css %}
  {% if css contains "//" %}
  <link rel="stylesheet" href="{{css}}">
  {% else %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
  {% endif %}
  {% endfor %}
  {% for css in page.css %}
  {% if css contains "//" %}
  <link rel="stylesheet" href="{{css}}">
  {% else %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
  {% endif %}
  {% endfor %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
  <!-- <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml"> -->
  <!-- OGP setting -->
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:type" content="blog">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{post.excerpt}}">
  <meta property="og:site_name" content="{{page.title}} | 東海道中膝ポテト">
  <meta property="og:image" content="https://genshun9.github.io/assets/img/ogp_image.png">
</head>
<body>
  <header>
    <nav class="top-nav teal">
      <div class="nav-wrapper">
        <div class="container">
          <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
          <div style="line-height: 1;">
            <div class="white-text text-lighten-4">{{site.description}}</div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
    </div>
    <ul id="slide-out" class="side-nav fixed">
      <li>
        <div class="userView">
          <div class="background"></div>
          <a href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2"
              src="{{site.baseurl}}/assets/res/user.jpg"></a>
          <p class="white-text name">{{site.user}}</p>
          <p class="white-text email">{{site.user_email}}</p>
        </div>
      </li>
      <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>Home</a></li>
      <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>Categories</a>
      </li>
      <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">label</i>Tags</a></li>
      <!-- <li><a class="waves-effect" href="{{site.baseurl}}/movies"><i class="material-icons">playlist_play</i>Twitch</a></li> -->
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>About</a></li>
    </ul>
  </header>
  <main>